@charset "UTF-8";

@import url('./mixins.css');
@import url('./custom-selectors.css');

@custom-media --mobile-like (width <= 600px);


[data-id="app-content"] {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;

  padding: 0;

  overflow: auto;

  > .aside-component {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  > .main-component {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  @media (--mobile-like) {
    grid-template-columns: 1fr;

    > .aside-component {
      display: none;
    }

    > .main-component {
      grid-column: 1 / span 1;
    }
  }
}

.aside-component {
  background-color: #000;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  padding: 1rem;

  background-color: #142434;

  overflow: auto;

  > .item {
    padding-inline: 0.6rem;
    padding-block: 0.6rem;

    border: solid 2px #fff;
    background-color: #06f;

    &:last-child {
      margin-top: auto;
    }

    @mixin :hover & {
      background-color: #09f;
    }

    &:--active {
      background-color: #049;
    }
  }
}

.main-component {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  padding: 1rem;

  overflow: auto;

  > .title-border-wrapper {
    align-self: center;

    padding-bottom: 1rem;
  }
}

.title-border-wrapper {
  width: 100%;
  max-width: 500px;
  --vertical-length: 3rem;

  > .title {
    padding-block: 1rem;
    padding-inline: 0.5rem;

    text-align: center;
  }
}

.cards-container {
  align-self: center;

  width: 100%;
  max-width: 700px;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;

  > .card {
    max-width: 190px;

    flex-shrink: 1;
  }
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  padding-block: 0.5rem;
  padding-inline: 1rem;

  border-radius: 0.6rem;
  background-color: #06f;

  > .title {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.btn {
  background-color: #06f;
  padding: 1rem;
  border-radius: 0.3em;
}


.navigate-component {
  height: 180px;

  display: flex;
  flex-direction: column;

  padding: 1rem;
  border: solid 2px #fff;

  overflow: auto;
}
