@charset "UTF-8";


@custom-media --custom-media (width <= 700px);
@custom-media --mobile-like (width <= 600px);


@custom-selector :--hover :hover, :focus-visible, :active;
@custom-selector :--active :active:active:active;
@custom-selector :--focus :focus-visible:focus-visible;


@define-mixin :hover $selector {
  $selector {
    &:hover {
      @media (hover: hover) {
        @mixin-content;
      }
    }

    &:is(:focus-visible, :active) {
      @mixin-content;
    }
  }
}

@define-mixin media $params {
  @media $params {
    &:is(&) {
      @mixin-content;
    }
  }
}

$variable: --elise;



:root {
  --amy: 1;
  --sonic: "$variable";
}

[data-id="app-content"] {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;

  padding: 0;

  overflow: auto;
  
  > .aside-component {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  > .main-component {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  @media (--mobile-like) {
    grid-template-columns: 1fr;
    
    > .aside-component {
      display: none;
    }

    > .main-component {
      grid-column: 1 / span 1;
    }
  }
}

$list: (sonic, tails, knuckles);

@each $value, $i in $list {
  html {
    --each: $(value)-px;
    --i: $(i);
  }
}

@for $i from 1 to 5 {
  html {
    --for: $(i)px;
  }
}

html {
  background-color: #000;

  & > body {
    background-color: #000;

    @media (--custom-media) {
      background-color: #111;
    }
  }
}


.aside-component {
  background-color: #000;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  padding: 1rem;

  background-color: #142434;

  overflow: auto;

  > .item {
    padding-inline: 0.6rem;
    padding-block: 0.6rem;

    border: solid 2px #fff;
    background-color: #06f;

    &:last-child {
      margin-top: auto;
    }

    @mixin :hover & {
      background-color: #09f;
    }

    &:--active {
      background-color: #049;
    }
  }
}

.main-component {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  padding: 1rem;

  overflow: auto;

  > .title-border-wrapper {
    align-self: center;

    padding-bottom: 1rem;
  }
}

.title-border-wrapper {
  width: 100%;
  max-width: 500px;
  --vertical-length: 3rem;

  > .title {
    padding-block: 1rem;
    padding-inline: 0.5rem;
  
    text-align: center;
  }
}

.cards-container {
  align-self: center;

  width: 100%;
  max-width: 700px;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;

  > .card {
    max-width: 190px;

    flex-shrink: 1;
  }
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  padding-block: 0.5rem;
  padding-inline: 1rem;

  border-radius: 0.6rem;
  background-color: #06f;

  > .title {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.btn {
  background-color: #06f;
  padding: 1rem;
  border-radius: 0.3em;
}


.navigate-component {
  height: 180px;

  display: flex;
  flex-direction: column;

  padding: 1rem;
  border: solid 2px #fff;

  overflow: auto;
}
