@charset "UTF-8";

[data-id="app-content"] {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;

  padding: 0;

  overflow: auto;
}


.aside-component {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  padding: 1rem;

  background-color: #142434;

  overflow: auto;
}

.aside-component > .item {
  padding-inline: 0.6rem;
  padding-block: 0.6rem;

  border: solid 2px #fff;
  background-color: #06f;
}

.aside-component > .item:last-child {
  margin-top: auto;
}

.main-component {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  padding: 1rem;
}

.main-component > .title-border-wrapper {
  padding-bottom: 1rem;
}

.title-border-wrapper {
  align-self: center;

  width: 100%;
  max-width: 500px;
  --vertical-length: 3rem;
}

.title-border-wrapper > .title {
  padding-block: 1rem;
  padding-inline: 0.5rem;

  text-align: center;
}


.cards-container {
  align-self: center;

  width: 100%;
  max-width: 700px;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.cards-container > .card {
  flex-shrink: 1;
}

.card {
  max-width: 190px;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  padding-block: 0.5rem;
  padding-inline: 1rem;

  border-radius: 0.6rem;
  background-color: #06f;
}

.card > .title {
  font-size: 1.2rem;
  font-weight: bold;
}
